{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Schema</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/schema.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

</head>
<body>
{% include 'includes/header.html' %}
<div class="container-fluid">
    <div class="row" style="margin-top: 30px; padding-left: 65px">
        <div class="col-1">
            <h5>New Schema</h5>
        </div>

    </div>
    <div class="row" style="margin-top: 15px; padding-left: 65px">
        <div class="col-4">
            <label class="label-input-new-schema">Name</label>
            <input type="text" class="input-new-schema">
        </div>
        <div class="col-4">
        </div>
        <div class="col-2">
            <button class="btn btn-primary">Submit</button>
        </div>
    </div>
    <div class="row" style="margin-top: 15px; padding-left: 65px">
        <div class="col-4">
            <label>
                Column separator
            </label>
            <select class="input-new-schema">
                <option value="Comma (,)">Comma (,)</option>
                <option value="Colon (;)">Colon (;)</option>
            </select>
        </div>
    </div>
    <div class="row" style="margin-top: 15px; padding-left: 65px">
        <div class="col-4">
            <label>
                String character
            </label>
            <select class="input-new-schema">
                <option value='Double-quote (")'>Double-quote (")</option>
                <option value="Quote (')">Quote (')</option>
            </select>
        </div>
    </div>
    <div class="row" style="margin-top: 25px;padding-left: 65px">
        <div class="col-4 columns" id="0">
            <h4>Schema columns
            </h4>
        </div>
    </div>
    <div class="add-column-block">
        <div class="row column-row">
            <div class="col-2 name-col">
                <label class="label-input-new-schema">Column name
                </label>
                <input type="text" class="input-new-column-name" id="name">
            </div>
            <div class="col-2" id="type-col">
                <label class="label-input-new-schema">Type</label>
                <select class="input-new-column-type" name="type" id="type">
                    <option value='Job'>Job</option>
                    <option value="Domain name">Domain name</option>
                    <option value="Phone Number">Phone Number</option>
                    <option value="Company">Company</option>
                    <option value="Integer">Integer</option>
                </select>
            </div>
            <div class="col-1">
                <label class="label-input-new-schema">Order</label>
                <input type="number" class="input-new-column-order">
            </div>
        </div>
        <div class="row column-row">
            <div class="col-1">
                <button class="btn btn-primary add-column" style="margin-top: 25px">Add column</button>

            </div>
        </div>
    </div>
</div>
</body>
<script>
    let addColumnButton = document.querySelector('.add-column')
    let columns = document.querySelector('.columns')
    let typeInput = document.querySelector('#type')
    typeInput.addEventListener('change', function () {
        if (typeInput.value === "Integer") {
            let typeCol = document.querySelector('#type-col')
            let divTo = document.createElement('div')
            divTo.className = 'col-1 abc'
            divTo.innerHTML = `
                <label class="label-input-new-schema">To</label>
                <input type="number" class="input-new-column-order fromto" name="to" min="0" max="100">
`
            typeCol.after(divTo)
            let divFrom = document.createElement('div')

            divFrom.className = 'col-1 abc'
            divFrom.innerHTML = `
                <label class="label-input-new-schema">From</label>
                <input type="number" class="input-new-column-order fromto" name="from" min="0" max="100">
`
            typeCol.after(divFrom)


        } else {
            if (document.querySelector('.abc')) {
                let abc = document.querySelector('.abc')
                abc.remove()
                console.log('nah')
            }
        }
    })
    addColumnButton.addEventListener('click', () => {
        let nameData = document.querySelector('#name')
        let typeData = document.querySelector('#type')

        let div = document.createElement('div');
        div.className = "row column-row";
        div.style.marginTop = '25px'
        div.innerHTML = `<div class="col-2 name-col">
            <label class="label-input-new-schema">Column name</label>
            <input type="text" class="input-new-column-name" required id="name${columns.id}" value="${nameData.value}" readonly>
        </div>
        <div class="col-2 type-col-new">
            <label class="label-input-new-schema">Type</label>
            <select class="input-new-column-type" name="type" id="type${columns.id}" value="${typeData.value}" readonly">
                <option value='Job'>Job</option>
                <option value="Domain name">Domain name</option>
                <option value="Phone Number">Phone Number</option>
                <option value="Company">Company</option>
                <option value="Integer">Integer</option>
            </select>
        </div>
        <div class="col-1">
            <label class="label-input-new-schema">Order</label>
            <input type="number" class="input-new-column-order" value="${columns.id}">
        </div>`;
        columns.after(div)
        let type0 = document.querySelector(`#type${columns.id}`)
        if (type0.value === "Integer") {
            let typeCol = document.querySelector('.type-col-new')
            let divTo = document.createElement('div')
            divTo.className = 'col-1 abc'
            divTo.innerHTML = `
                <label class="label-input-new-schema">To</label>
                <input type="number" class="input-new-column-order fromto" name="to" min="0" max="100">
`
            typeCol.after(divTo)
            let divFrom = document.createElement('div')

            divFrom.className = 'col-1 abc'
            divFrom.innerHTML = `
                <label class="label-input-new-schema">From</label>
                <input type="number" class="input-new-column-order fromto" name="from" min="0" max="100">
`
            typeCol.after(divFrom)


        } else {
            if (document.querySelector('.abc')) {
                let abc = document.querySelector('.abc')
                abc.remove()
                console.log('nah')
            }
        }
        let newTypeData = document.querySelector(`#type${columns.id}`)
        newTypeData.value = typeData.value
        columns.id = parseInt(columns.id) + 1
    })
</script>
</html>