{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Schemas</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/schema.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

</head>
<body>
{% include 'includes/header.html' %}
<div class="container-fluid">
    <div class="row" style="margin-top: 15px; padding-left: 65px">
        <div class="col-9">

            <button class="btn btn-success new-schema-button" type="button"><a class="new-schema-href"
                                                                               href="#">Generate
                data</a></button>
            <input type="text" style="width: 84px; height: 38px; float: right; margin-right: 10px">
            <label style="float: right; margin-right: 10px; margin-top: 5px">Rows</label>

            <h5>Data Sets</h5>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col" class="new-header-td-th">#</th>
                    <th scope="col" class="new-schema-td-th">Created</th>
                    <th scope="col" class="new-schema-td-th">Status</th>
                    <th scope="col" class="new-schema-td-th">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for set in schema.sets.all %}
                    <tr>
                        <th scope="row" class="new-schema-td-th">{{ forloop.counter }}</th>
                        <td scope="col" class="new-schema-td-th">
                            <div>{{ set.created|date:"Y-m-d" }}</div>
                        </td>
                        <td class="new-schema-td-th">
                            <div style="display: inline-block; font-size: 12px;{% if set.get_status_display == 'Ready' %}background: #5CB85C;{% else %}background: #999999;
                            {% endif %};padding: 4px; border-radius: 5px; color: white">{{ set.get_status_display }}</div>
                        </td>
                        <td class="new-schema-td-th">
                            <div class="row">
                                <div class="col-4"><a class="new-schema-href"
                                                      {% if set.get_status_display == 'Ready' %}href="{{ set.link_download }}"{% endif %}
                                                      style="color: #0275D8">{% if set.get_status_display == 'Ready' %}
                                    Download{% endif %}</a></div>
                            </div>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>