{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Schemas</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/schema.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

</head>
<body>
{% include 'includes/header.html' %}
<div class="container-fluid">
    <div class="row" style="margin-top: 30px; padding-left: 65px">
        <div class="col-1">
            <h5>Data Schemas</h5>
        </div>

    </div>
    <div class="row" style="margin-top: 15px; padding-left: 65px">
        <div class="col-8">
                        <button class="btn btn-success new-schema-button" type="button"><a class="new-schema-href" href="{% url 'create_schema' %}">New Schema</a></button>
            <br>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Modified</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for schema in schemas %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td><a href="#">{{ schema.name }}</a></td>
                        <td>{{ schema.modified|date:"Y-m-d" }}</td>
                        <td>
                            <div class="row"><div class="col-3"><a href="#">Edit scheme</a></div> <div class="col-6"><a href="{% url 'delete_schema' schema.pk %}" style="color: #D9534F">Delete</a></div></div></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>